---
import Container from '../common/Container';
import SectionTitle from '../common/SectionTitle.astro';
---

<section class="pt-32 pb-20 bg-dark">
  <Container>
    <div class="max-w-3xl mx-auto">
      <SectionTitle
        title="Nossos Serviços"
        subtitle="Soluções completas em captação de imagens profissionais"
        alignment="center"
      />
      <p class="text-gray-300 text-center">
        Oferecemos serviços especializados em filmagem aérea com drones, fotografia profissional
        e produção de vídeos corporativos, sempre com foco na qualidade e satisfação do cliente.
      </p>
    </div>
  </Container>
</section>