---
import Container from '../common/Container';
import SectionTitle from '../common/SectionTitle.astro';
---

<section class="pt-32 pb-20 bg-light">
  <Container>
    <div class="max-w-3xl mx-auto">
      <SectionTitle
        title="NOSSOS SERVIÇOS"
        subtitle="Soluções completas em captação de imagens profissionais"
        alignment="center"
      />
      <p class="text-neutral/80 text-center">
        Filmagem aérea com drones, fotografia profissional, 
        e produção de vídeos pessoais e corporativos, sempre com foco na qualidade e satisfação do cliente.
      </p>
    </div>
  </Container>
</section>