---
import Container from '../common/Container';

const categories = [
  { id: 'todos', label: 'Todos' },
  { id: 'festas', label: 'Festas' },
  { id: 'empresas', label: 'Empresas' },
  { id: 'imobiliario', label: 'imobiliario' },
  { id: 'projetos', label: 'Projetos' }
];
---

<div class="bg-gray py-8">
  <Container>
    <div class="flex gap-4 justify-center flex-wrap">
      {categories.map(category => (
        <button
          class="px-6 py-2 rounded-full bg-white text-black hover:bg-gray-200"
          {...{ key: category.id }}
        >
          {category.label}
        </button>
      ))}
    </div>
  </Container>
</div>
