---
import Container from '../common/Container';
import SectionTitle from '../common/SectionTitle.astro';
---

<section class="pt-32 pb-20 bg-gray-200">
  <Container>
    <div class="max-w-3xl mx-auto">
      <SectionTitle
        titleInverted="Nosso Portfólio"
        subtitleInverted="Conheça alguns dos nossos melhores trabalhos"
        alignment="center"
      />
      <p class="text-primary text-center mb-4"> <!-- Reduzida a margem inferior -->
        Uma seleção dos nossos projetos mais impressionantes em fotografia aérea,
        filmagens com drone e produções audiovisuais.
      </p>
    </div>
  </Container>
</section>
