---
import Container from '../common/Container';

const categories = [
  { id: 'all', label: 'Todos' },
  { id: 'events', label: 'Eventos' },
  { id: 'projects', label: 'Projetos' },
  //{ id: 'advertising', label: 'Publicidade' },
  { id: 'ensaios', label: 'ensaios' }
];
---

<div class="bg-gray py-8"> <!-- Alterado de bg-dark-lighter para bg-gray-200 -->
  <Container>
    <div class="flex gap-4 justify-center flex-wrap">
      {categories.map(category => (
        <button
          class="px-6 py-2 rounded-full border border-white text-white hover:border-primary-light hover:text-primary-light transition-colors"
          data-category={category.id}
        >
          {category.label}
        </button>
      ))}
    </div>
  </Container>
</div>
