---
import Container from '../common/Container';
import SectionTitle from '../common/SectionTitle.astro';
---

<section class="pt-32 pb-20 bg-dark">
  <Container>
    <div class="max-w-3xl mx-auto">
      <SectionTitle
        title="Nosso Portfólio"
        subtitle="Conheça alguns dos nossos melhores trabalhos"
        alignment="center"
      />
      <p class="text-gray-300 text-center">
        Uma seleção dos nossos projetos mais impressionantes em fotografia aérea,
        filmagens com drone e produções audiovisuais.
      </p>
    </div>
  </Container>
</section>