---
// Importação dos componentes necessários
import Container from '../common/Container';
import SectionTitle from '../common/SectionTitle.astro';

interface Props {
  category?: string;
}

const { category } = Astro.props;

// Definindo as chaves e valores com um tipo explícito para evitar o erro de tipo dinâmico
const categoryTitles: Record<string, string> = {
  eventos: 'Eventos',
  corporativo: 'Corporativo',
  publicidade: 'Publicidade',
  ensaios: 'Ensaios'
};

// Verificando se a categoria está presente, e se sim, pegando o valor correspondente de categoryTitles
const title = category && categoryTitles[category] ? categoryTitles[category] : 'Nosso Portfólio';
const subtitle = category && categoryTitles[category] 
  ? `Conheça nossos melhores trabalhos em ${categoryTitles[category].toLowerCase()}`
  : 'Conheça nossos melhores trabalhos';
---

<section class="pt-32 pb-20 bg-dark">
  <Container>
    <div class="max-w-3xl mx-auto">
      <SectionTitle
        title={title}
        subtitle={subtitle}
        alignment="center"
      />
      <p class="text-gray-300 text-center">
        Uma seleção dos nossos projetos mais impressionantes em fotografia aérea,
        filmagens com drone e produções audiovisuais.
      </p>
    </div>
  </Container>
</section>
