---
import Container from '../common/Container';
import SectionTitle from '../common/SectionTitle.astro';

interface Props {
  category?: string;
}

const { category } = Astro.props;

const categoryTitles: Record<string, string> = {
  eventos: 'Eventos',
  empresas: 'Empresas',
  ensaios: 'Ensaios',
  imobiliário: 'Imobiliário',
};

const title = category ? categoryTitles[category] : 'Nosso Portfólio';
---

<div class="bg-gray py-12">
  <Container>
    <SectionTitle title={title} />
    <p class="mt-4 text-center text-lg text-gray-700">
      Explore nossos trabalhos em Eventos, Ensaios Artísticos, Imobiliários e Empresas, capturando momentos inesquecíveis e projetos impactantes.
    </p>
  </Container>
</div>
