---
import Layout from '../layouts/Layout.astro';
// import ContactHero from '../components/contact/ContactHero.astro'; //
// import ContactInfo from '../components/contact/ContactInfo.astro'; //
import ContactForm from '../components/contact/ContactForm';
// import ContactMap from '../components/contact/ContactMap.astro'; //
---

<Layout title="Contato">
  <!-- ContactHero />
  <div class="grid md:grid-cols-2 gap-8 container py-20">
    <ContactInfo />
    <ContactForm client:load />
  </div>
  <ContactMap />
</Layout> -->