---
import Layout from '../layouts/Layout.astro';
import PortfolioHero from '../components/portfolio/PortfolioHero.astro';
import PortfolioGrid from '../components/portfolio/PortfolioGrid';
import PortfolioCategories from '../components/portfolio/PortfolioCategories.astro';
import Contact from '../components/Contact.astro';

const seoDescription = "Confira nosso portfólio de trabalhos em fotografia aérea, filmagens com drone e vídeos corporativos.";
---

<Layout title="Portfólio" description={seoDescription}>
  <PortfolioHero />
  <PortfolioCategories />
  <div class="py-12 bg-dark">
    <PortfolioGrid client:load />
  </div>
  <Contact />
</Layout>