---
import Container from '../common/Container';
import SectionTitle from '../common/SectionTitle.astro';
---

<section class="pt-32 pb-20 bg-dark">
  <Container>
    <div class="max-w-3xl mx-auto">
      <SectionTitle
        title="Entre em Contato"
        subtitle="Estamos prontos para atender seu projeto"
        alignment="center"
      />
      <p class="text-gray-300 text-center">
        Entre em contato conosco para saber mais sobre nossos serviços
        e solicitar um orçamento personalizado para seu projeto.
      </p>
    </div>
  </Container>
</section>
