---
import SectionTitle from './common/SectionTitle.astro';
import ContactForm from './contact/ContactForm';
import { MapPinIcon, PhoneIcon, EnvelopeIcon } from '@heroicons/react/24/outline';

const contactInfo = [
  {
    icon: PhoneIcon,
    title: 'Telefone',
    content: '+55 (41) 99888-0303',
    link: 'https://wa.me/5541998880303'

  },
  {
    icon: EnvelopeIcon,
    title: 'E-mail',
    content: 'contato@lytspot.com.br',
    link: 'mailto:contato@lytspot.com.br'
  },
  {
    icon: MapPinIcon,
    title: 'Endereço',
    content: 'Curitiba, PR',
    link: '#'
  }
];
---

<section class="py-20">
  <div class="container">
    <SectionTitle
      title="Entre em Contato"
      subtitle="Estamos prontos para atender seu projeto"
    />

    <div class="grid md:grid-cols-2 gap-12">
      <div>
        <h3 class="text-2xl font-bold mb-6">Fale Conosco</h3>
        <ContactForm client:load />
      </div>

      <div>
        <h3 class="text-2xl font-bold mb-6">Informações de Contato</h3>
        <div class="space-y-6">
          {contactInfo.map(item => (
            <div class="flex items-start gap-4">
              <div class="w-12 h-12 bg-gray-100/10 rounded-full flex items-center justify-center">
                <item.icon className="w-6 h-6 text-gray-100" />
              </div>
              <div>
                <h4 class="font-bold">{item.title}</h4>
                <a
                  href={item.link}
                  class="text-gray-600 hover:text-gray-300 transition-colors"
                >
                  {item.content}
                </a>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </div>
</section>