---
import Container from './common/Container';
import Button from './common/Button';

const menuItems = [
  { href: '/', text: 'Home' },
  { href: '/servicos', text: 'Serviços' },
  { href: '/portfolio', text: 'Portfólio' },
  { href: '/sobre', text: 'Sobre' },
  { href: '/contato', text: 'Contato' }
];
---

<header class="bg-dark/80 backdrop-blur-md fixed w-full z-50 border-b border-gray-700/50">
  <Container>
    <div class="py-4 flex justify-between items-center">
      <a href="/" class="text-2xl font-bold text-white flex items-center gap-2">
        <img src="/images/Branco fundo transparente.png" alt="" class="h-32" />
        LYTSPOT
      </a>
      
      <nav class="hidden md:flex space-x-6">
        {menuItems.map(item => (
          <a 
            href={item.href}
            class="text-gray-200 hover:text-white transition-colors"
          >
            {item.text}
          </a>
        ))}
      </nav>

      <Button variant="primary" client:load>
        Orçamento
      </Button>
    </div>
  </Container>
</header>