---
import PortfolioHero from '../components/portfolio/PortfolioHero.astro';
import PortfolioGrid from '../components/portfolio/PortfolioGrid';
import PortfolioCategories from '../components/portfolio/PortfolioCategories.astro';
import Contact from '../components/Contact.astro';

const seoDescription = "Confira nosso portfólio de trabalhos em fotografia aérea, filmagens com drone e vídeos corporativos.";
---

<PortfolioHero />
<PortfolioCategories />
<div class="py-12 bg-dark">
  <div class="container mx-auto px-4">
    <PortfolioGrid client:load />
  </div>
</div>
<Contact />
