---
import Layout from '../layouts/Layout.astro';
import PortfolioHero from '../components/portfolio/PortfolioHero.astro';
import PortfolioGrid from '../components/portfolio/PortfolioGrid';
import Contact from '../components/Contact.astro';
import Container from '../components/common/Container';
import SectionTitle from '../components/common/SectionTitle.astro';

const seoDescription = "Explore nosso portfolio de trabalhos em eventos, Ensaios e empresas, capturando momentos e projetos impactantes.";
---

<Layout title="portfolio" description={seoDescription}>
  <!-- Seção Hero com Introdução -->
  <PortfolioHero />

  <!-- Seção Intermediária com Texto Explicativo -->
  <section class="py-20 bg-dark">
    <Container>
      <div class="max-w-3xl mx-auto">
        <SectionTitle
          title="Nosso portfolio"
          subtitle="Explore nossos projetos que capturam momentos inesquecíveis"
          alignment="center"
        />
        <p class="text-gray-300 text-center mt-4">
          Nosso portfolio apresenta uma seleção de trabalhos que refletem nossa dedicação à excelência 
          em captação de imagens e vídeos. Desde eventos especiais a ensaios artísticos e campanhas 
          empresariais, criamos conteúdos que inspiram e emocionam.
        </p>
      </div>
    </Container>
  </section>

  <!-- Grid do portfolio -->
  <section class="py-20 bg-light">
    <Container>
      <PortfolioGrid />
    </Container>
  </section>

  <!-- Seção de Contato -->
  <section class="py-20 bg-gray">
    <Contact />
  </section>
</Layout>
